.container {
    width: 1050px;
    margin: auto;
}

header {
    height: 75px;
 
}

header .logo {
    margin-top: 5px;
    margin-left: 5px;
    width: 30%;
    float: left;
    color: #ff6c00;
    line-height: 25px;
    padding-top: 10px;
    }
header .logo h1 {
    font-size: 36px;
    font-weight: 300;
}
header .logo h1 span {
    color:#000;
}
header p {
    font-size: 18px;
    color:#000;

}
header nav{
    width: 50%;
    float: right;
    line-height: 75px;
}

header ul {
    text-align: right;
}

header ul li {
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
    border-right-color: #ff2906;
    border-right-width: 2px;
    border-right-style: solid;
    line-height: 20px;
}

.no-border {
    border: none;
}

.banner {
    background: url("../images/head.png");
    height: 250px;
    background-size: cover;
}

.banner .image, .banner .title {
    display: inline-block;
}
.banner .image {
    float: left;
    width: 50%;
    
}
.banner .image img {

    height: 246px;
    margin: 0px;
    position: relative;
    margin-top: 3px;
}
.banner .title h3 {

    font-size: 26px;
    font-weight: 300;
    margin-top: 110px;
    margin-left: 15px;

}
.banner .title  span{
    color:#004802;
}
.leftSection, .rightSection {
    display: inline-block;
    margin-top: 15px;
    margin-left:20px; 
}
.leftSection {
    float:left;
    width: 65%;
   
}
.leftSection  h3,.rightSection .eventsUpdates h3 {
    color: #007b3b;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    
}
.leftSection  h6 {
    color:#0a356d;
    font-size: 14px;
    font-weight: 800;
    margin-top: 10px;
}
.leftSection  p{
    color: #9b9875;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    font-weight: lighter;
}
.leftSection .intro button {
    background: #66060a; /* Old browsers */
background: -moz-linear-gradient(top, #66060a 0%, #fc5d5d 50%, #66060a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #66060a 0%,#fc5d5d 50%,#66060a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #66060a 0%,#fc5d5d 50%,#66060a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66060a', endColorstr='#66060a',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    border: solid 2px #66060a;
    color: #fff;
    margin-top: 10px;
    border-radius: 7px;
    font-weight: bold;
}
.rightSection {
    float: right;
    width: 30%;
}
.clear {
    clear: both;
}
.mainContent {
    margin-top:20px;
}

.artGallery {
    float:left ;
    width: 54%;

    padding-right: 25px;
    border-right: #b3b2a3 dashed 2px;
    
}

.galleryImages img {
    
    padding: 10px 10px 0px 10px;
    width: 42% ;
}

.drawTips {
    float: right;
    width: 35%;
    margin-left: 25px;
}
.drawTips p {
    margin-top:20px;
}
.rightSection .eventsUpdates {
    border: #fcd598 solid 2px;
    background-color: #f9eddd;
    padding: 10px 10px 20px 10px;

}
.rightSection .eventsUpdates h5{
    color:#0a356d;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px;

}
.rightSection .eventsUpdates p {
    color:#c75300;
    font-size: 11px; 
    line-height: 18px;   
}
.bestOfMonth {
    margin-top: 30px;
    padding: 20px;
 background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ababab 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #ababab)); /* safari4+,chrome */
background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #ababab 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #ababab 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #ababab 100%); /* ie10+ */
background: radial-gradient(ellipse at center, #ffffff 0%, #ababab 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ababab',GradientType=1 ); /* ie6-9 */
}
.bestOfMonth img {
     border:#fff solid 1px;
     width: 97%;
     margin: auto;
     display: block;

}
.bestOfMonth p {
    text-align: center;
    text-decoration: underline;
    color: #02602f;
    margin-top:10px;
    font-weight: 800;
    font-size: 12px;
}
footer {
    margin-top: 30px;
    height: 80px;
    color:#fff;
    padding:  20px 0px;
    text-align: center;
    background: rgba(227,100,20,1);
    background: -moz-linear-gradient(top, rgba(227,100,20,1) 0%, rgba(170,71,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(227,100,20,1)), color-stop(100%, rgba(170,71,1,1)));
    background: -webkit-linear-gradient(top, rgba(227,100,20,1) 0%, rgba(170,71,1,1) 100%);
    background: -o-linear-gradient(top, rgba(227,100,20,1) 0%, rgba(170,71,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(227,100,20,1) 0%, rgba(170,71,1,1) 100%);
    background: linear-gradient(to bottom, rgba(227,100,20,1) 0%, rgba(170,71,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e36414', endColorstr='#aa4701', GradientType=0 );
}
footer p {
    font-size: 12px;
    line-height: 24px;
}
.footerMenu p {
    font-size: 14px;
    padding: 10px 0px;
}