	#warper{
		width:1000px;
		margin:10px auto;
	}
	header{
		background:#000;
		height:40px;
	
	}
	.projectName {
		width:20%;
		float:left;
		
	
	}
	.projectName h3 {
		
		padding-left: 5px;
		font-size:18px;
		color:#fff;
		margin:0px;
		margin-left:20px;
		font-weight:300;
		line-height: 40px;
	}
	#search {
		width:20%;
		float:right;
		background:#fff;
		color:#000;
		border-radius:5px;
		height:30px;
		margin:5px;
	}
	#search p {
		padding:4px;
		margin:0px;
	}
	nav {
		color:#fff;
		width:30%;
		float:right;
		margin-right:10px;
		line-height: 40px;
	}
	
	  ul {
		list-style:none;
	}
	nav li {
	display:inline;
	margin:10px 10px;
	}
	main{
		width:1000px;
	    
	
	}
	
	.leftMenu {
	
	width:20%;
	background:#ededed;
	height:820px;
	float:left;
	
	
	}
	.leftMenu ul {
margin-top: 10px;

	}
	.leftMenu ul li a {
	 
	 padding:20px ;
	 margin-bottom:20px;
	 line-height: 40px;
	 color: #489af2;
	
	}
		.leftMenu ul  li.active {

	 line-height: 40px;
	 background-color: #489af2;
	 
	 width: 100%;
	
	}
	.leftMenu ul li.active a {
		color:#fff;
	}
	.rightSection {
		width:75%;
		float:right;
		margin-top: 20px;
	}
	.rightSection .dashbord h3, .rightSection .sectionTitle h3 {
		font-size: 24px;
		font-weight: bold;
		text-transform: capitalize;
		padding-bottom: 10px;

	}
	.dashbord {

		border-bottom: #ededed solid 1px;
	}
	.circleRow {
		display: block;
		float: left;
		width:100%;
		margin-bottom:30px;
	}

	.circleBox {
		margin-top: 10px;
		text-align: center;
		display: block;
    width: 25%;
		float: left;
	}
	.circle {
    width: 175px;
    border-radius: 50%;
    float: left;
    padding: 30px 0px;
    color: #fff;
    border: #ededed solid 1px;
    line-height: 120px;
	
	}
	.blue {
		background-color: #489af2;
	}
	.green {
		background-color: #48f1ae;
	}
	.circleBox h5 {
		font-size: 16px;
		line-height: 28px;
	}
	.circleBox p {
		font-size: 12px;
	}
	.sectionTitle {
		display: block;
		width: 100%;
		border-bottom: #ededed solid 1px;
		margin-top: 30px;
		
	}
	.clear {
		clear: both;
	}
	