table {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border-spacing: 0px;
}
thead {
    border: #ededed solid 2px;
}
th {

    border-bottom: #000 solid 1px;
}
td {
    padding: 10px 0px;
}
tr:nth-child(even) {
  background-color: #eee;
}